.card-body {
  display: flex;
  width: 300px;
  max-height: 350px;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  z-index: 2;
}

.card-body:hover {
  border-radius: 5px;
  z-index: 1;
  background-color: #000000;

  .card-image {
    filter: saturate(150%);
    background-size: 120%;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    transition: background-position .5s ease-in-out;
  }

  .card-texts-game-title {
    color: hsl(0, 0%, 100%);
  }

}

.card-texts-titles {
  display: flex;
  height: 66px;
  align-items: center;
  justify-content: flex-start;
}

.card-number {
  color: rgba(255, 0, 0, 0.667);
  font-size: 1.6rem;
  font-style: italic;
  font-weight: bold;
}

.separator {
  width: 12px;
}

.card-image {
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-radius: 4px 4px 0px 0px;
  background-size: cover;
  filter: saturate(90%);
}

.card-texts-div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 10px 0 10px;
}

.card-texts-game-title {
  padding: 10px 0;
  min-height: 30px;
}

.card-texts-buttons-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 1.8rem;
}

.card-text-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(205deg, rgba(0, 119, 255, 0.815), rgba(255, 0, 0, 0.6));
  color: rgba(0, 0, 0, 0.82);
  gap: 3px;
  letter-spacing: 2px;
  box-shadow: .1px .1px 1px 1px hsla(0, 0%, 0%, 0.427);
  line-height: 1.5;
}

.card-text-button:hover {
  background: linear-gradient(205deg, rgb(0, 119, 255), rgb(255, 0, 0));
  font-weight: 400;
  filter: saturate(150%);
}

.card-text-button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #151515;
  color: rgba(255, 255, 255, 0.744);
  gap: 3px;
  box-shadow: .1px .1px 1px 1px hsla(0, 0%, 0%, 0.41);
  line-height: 1.5;
}

.card-text-button-secondary:hover {
  color: rgba(0, 0, 0, 0.82);
  background: rgba(0, 255, 187, 0.805);
}

.bokmarked {
  color: rgb(0, 0, 0);
  background: rgba(0, 255, 187, 0.805);
  box-shadow: none;
}

.bokmarked:hover {
  color: rgb(255, 255, 255);
  background: transparent;
  box-shadow: none;
}

.card-button-icon-star {
  position: relative;
  bottom: -2px;
}

.card-button-icon-bookmark {
  position: relative;
  bottom: -3px;
}

.card-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  width: 100%;
  height: 20px;
}

.deleted {
  font-size: 10px;
  color: red;
}

.saved {
  font-size: 10px;
  color: rgba(0, 255, 187, 0.805);
}